name: Release

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed for creating releases

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Archive production artifacts
        run: |
          mkdir vproxy-mac
          cp proxy.sh tun2socks README.md LICENSE vproxy-mac/
          zip -r vproxy-mac.zip vproxy-mac

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            vproxy-mac.zip
          generate_release_notes: true
          draft: false
          prerelease: false
